.label {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.label {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.form {
  width: 300px;
  padding: 20px;
  display: block;
}
